<!doctype html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Naught And Crosses</title>
    <meta name="description" content="Naught And Crosses Game (Tic tac toe)">
    <meta name="robots" content="index, follow">
</head>
<body>
<div class="wrapper">
    <header><h1>Tic tac toe</h1></header>
    <div id="root"></div>
    <footer>&copy; swydmuch</footer>

</div>

</body>
</html>